<div id="<%= dom_id item %>">
    <div class="card">
        <h1>Titre/Nom du Chat</h1>
        <p>Courte description du chat</p>
        <%= image_tag "img3.jpg"%> 
        <h3>Prix du chat : 4000€</h3>
    </div>
</div>

