<p style="color: green"><%= notice %></p>

<h1>Listes des chats ici bas (surêment à supprimer pour le vrai front)</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p><%= link_to "Intéressé(e) ? Plus d'information ici", item %></p>
    <p>Ajouter au panier (Link to à faire plus tard)</p>
  <% end %>
</div>


